*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-areas: 
    "navbar"
    "ordenar"
    "contenido"
    "footer";
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 80px 50px auto 50px;
}
.navbar{
    grid-area: navbar ;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
   
}
.filtros{
    grid-area:  filtros;
    background-color: black;
    color: aliceblue;
}


.ordenar{
    grid-area: ordenar;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.precio{
    padding: 5px;
    margin: 20px;
    margin-top: 5px;
    
    
}
.contenido{
    grid-area: contenido;
    background-color: black;
    color: aliceblue;
}
span{
    padding: 5px;
    border: 1px solid black;
}

.grilla-productos{
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    border: 3px solid whitesmoke;
    transition: all 0.5s ease-out;
    transition: transform 0.5s;
}

img{
    width: 200px;
    
}


.paginado{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.boton{
    padding: 50px;
}
.footer{
    grid-area: footer;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.redes{
    display: flex;
    gap: 10px;
    
}
.logo{
    transition: all 2s;
}
.box{
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 100px;
    background-color: greenyellow;
    position: relative;
    animation-name: animación;
    animation-duration: 8s;
    animation-delay: 8s;
    animation-iteration-count: infinite;

}
@keyframes animación {
    from {
        top: 0px;
        left: 0px;
    }
    to {
        top: 200px;
        100px
    }
}

.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 3em;
    animation: move 8s infinite;
    animation-duration: alternate;
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200px);
    }
}

@media (min-width: 576px) {
    .container{
        grid-template-areas:
        "navbar navbar"
        "filtros contenido"
        "footer footer";
        grid-template-columns: 25% auto;
        min-height: 100vh;
        grid-template-rows: 80px auto 50px;
    }
.navbar{
    display: flex;
    justify-content: space-between;
}

.grilla-productos{
    grid-template-columns: repeat(2, 1fr);
}
.producto:hover{
    border: 3px solid greenyellow;
    background-color: whitesmoke;
    color: black;
    transform: scale(0.9);
}

.logo:hover{
    transform: translate(50px);
    
}

   }